.text-field:focused{
    -fx-faint-focus-color: transparent;
    -fx-background-color: white;
    -fx-border-color: #1DA1F2;
    -fx-underline: transparent;

}

.text-field {
    -fx-focus-color: transparent;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-background-color: #E1E8ED;
}


.text-area:focused{
    -fx-faint-focus-color: transparent;
    -fx-background-color: white;
    -fx-border-color: #1DA1F2;
    -fx-underline: transparent;

}

.text-area {
    -fx-focus-color: transparent;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-background-color: #E1E8ED;
}



